@import '../../../styles/global';

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  a {
    color: #fff;
  }
}

.footer-links {
  @extend .margin-bottom-2;
  @extend .font-size-6;

  width: 100%;

  a {
    @extend .margin-horizontal-2;
  }
}

.wedo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
