@import '../../../styles/global';

.filters {
  @extend .shadow;
  @extend .padding-around-2;
  @extend .margin-bottom-4;

  @include border-radius(5px);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;

  @media #{$phone} {
    justify-content: center;
    flex-wrap: wrap;

    h4 {
      width: 100%;
      text-align: center;
    }

    button {
      width: 45%;
    }
  }
}
