@import '../../../styles/global';

.card {
  @extend .margin-bottom-4;
  @extend .padding-around-4;
  @extend .shadow;
  @extend .animated;
  @extend .flipInX;

  @include border-radius(0 0 5px 5px);

  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;

  @media #{$phone} {
    align-items: center;
  }

  &__icon {
    @extend .margin-right-4;
    @extend .padding-around-2;

    @include rems(width, 8);
    @include rems(height, 8);
    @include box;
    @include border-radius(50%);

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    z-index: 10;

    @media #{$phone} {
      @include rems(width, 6);
      @include rems(height, 6);
      @include font-size(1.5, 1.5);
    }
  }

  &__content {
    position: relative;
    z-index: 10;
  }

  &--life-event {
    border-top: 5px solid $yellow;

    .card__icon {
      background: $yellow;
    }
  }

  &--education {
    border-top: 5px solid $green;

    .card__icon {
      background: $green;
    }
  }

  &--career {
    border-top: 5px solid $blue;

    .card__icon {
      background: $blue;
    }
  }
}

.year {
  @include font-size(20, 20);

  font-family: 'Pacifico', sans-serif;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(-85%);
  opacity: 0.1;

  @media #{$phone} {
    @include font-size(10, 10);

    opacity: 0.05;
  }
}
