@import '../../../styles/global';

.button {
  @extend .font-size-3;
  @extend .margin-around-1;
  @extend .transition;
  @extend .shadow;

  @include rems(padding, 0.2, 1.6);
  @include border-radius(20px);

  background: $primary;
  border: none;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;

  &.active {
    box-shadow: none;
  }

  &--appearance-life-event {
    background: $yellow;
  }

  &--appearance-education {
    background:  $green;
  }

  &--appearance-career {
    background: $blue;
  }
}
