@import url('https://fonts.googleapis.com/css?family=Raleway:400|Montserrat:300,300i,400,400i,600,600i|Pacifico&display=swap');

body {
  @extend .font-size-4;

  @include box;

	background: #f5b9b3;
	color: $body;
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#root {
	min-height: 100%;
	position: relative;
}

:global(.container) {
	@include rems(max-width, 120);
  width: 96%;
  margin: 0 auto;

  &.ultra {
    @include rems(padding, 8, 0);
  }

  &.narrow {
    @include rems(max-width, 66);
  }
}

a {
	color: $primary;
	text-decoration: none;
	@extend .transition;
	cursor: pointer;
	&.white {
		color: #fff;
	}
}

header {
	position: relative;
	z-index: 20;
}
