h1 {
  @extend .margin-bottom-1;
	@extend .font-size-7;

	text-align: center;
  font-family: 'Pacifico', sans-serif;
}

h2 {
  @extend .font-size-4;
	@extend .font-weight-bold;
  @extend .margin-bottom-3;
  @extend .padding-bottom-3;

  border-bottom: 1px dashed #fff;
}

h3 {
  @extend .font-size-5;
	@extend .font-weight-bold;
}

h4 {
  @extend .font-size-3;
  @extend .font-weight-bold;
}

h5 {
  @extend .font-size-4;
  @extend .font-weight-bold;
}

h6 {
  @extend .font-size-4;
}
