@import './_mixins';

$spacing-value-5: 8;
$spacing-value-4: 4;
$spacing-value-3: 2;
$spacing-value-2: 1;
$spacing-value-1: 0.5;

.padding {
	&-around {
		&-5 {
			@include rems(padding, $spacing-value-5);

      @media #{$tablet} {
        @include rems(padding, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(padding, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(padding, $spacing-value-4);

      @media #{$tablet} {
        @include rems(padding, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(padding, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(padding, $spacing-value-3);

      @media #{$phone} {
        @include rems(padding, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(padding, $spacing-value-2);
		}
		&-1 {
			@include rems(padding, $spacing-value-1);
		}
	}
	&-vertical {
		&-5 {
			@include rems(padding, $spacing-value-5, 0);

      @media #{$tablet} {
        @include rems(padding, $spacing-value-4, 0);
      }

      @media #{$phone} {
        @include rems(padding, $spacing-value-3, 0);
      }
		}
		&-4 {
			@include rems(padding, $spacing-value-4, 0);

      @media #{$tablet} {
        @include rems(padding, $spacing-value-3, 0);
      }

      @media #{$phone} {
        @include rems(padding, $spacing-value-2, 0);
      }
		}
		&-3 {
			@include rems(padding, $spacing-value-3, 0);

      @media #{$phone} {
        @include rems(padding, $spacing-value-2, 0);
      }
		}
		&-2 {
			@include rems(padding, $spacing-value-2, 0);
		}
		&-1 {
			@include rems(padding, $spacing-value-1, 0);
		}
	}
	&-horizontal {
		&-5 {
			@include rems(padding, 0, $spacing-value-5);

      @media #{$tablet} {
        @include rems(padding, 0, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(padding, 0, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(padding, 0, $spacing-value-4);

      @media #{$tablet} {
        @include rems(padding, 0, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(padding, 0, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(padding, 0, $spacing-value-3);

      @media #{$phone} {
        @include rems(padding, 0, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(padding, 0, $spacing-value-2);
		}
		&-1 {
			@include rems(padding, 0, $spacing-value-1);
		}
	}
	&-top {
		&-5 {
			@include rems(padding-top, $spacing-value-5);

      @media #{$tablet} {
        @include rems(padding-top, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(padding-top, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(padding-top, $spacing-value-4);

      @media #{$tablet} {
        @include rems(padding-top, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(padding-top, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(padding-top, $spacing-value-3);

      @media #{$phone} {
        @include rems(padding-top, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(padding-top, $spacing-value-2);
		}
		&-1 {
			@include rems(padding-top, $spacing-value-1);
		}
	}
	&-bottom {
		&-5 {
			@include rems(padding-bottom, $spacing-value-5);

      @media #{$tablet} {
        @include rems(padding-bottom, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(padding-bottom, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(padding-bottom, $spacing-value-4);

      @media #{$tablet} {
        @include rems(padding-bottom, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(padding-bottom, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(padding-bottom, $spacing-value-3);

      @media #{$phone} {
        @include rems(padding-bottom, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(padding-bottom, $spacing-value-2);
		}
		&-1 {
			@include rems(padding-bottom, $spacing-value-1);
		}
	}
	&-left {
		&-5 {
			@include rems(padding-left, $spacing-value-5);

      @media #{$tablet} {
        @include rems(padding-left, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(padding-left, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(padding-left, $spacing-value-4);

      @media #{$tablet} {
        @include rems(padding-left, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(padding-left, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(padding-left, $spacing-value-3);

      @media #{$phone} {
        @include rems(padding-left, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(padding-left, $spacing-value-2);
		}
		&-1 {
			@include rems(padding-left, $spacing-value-1);
		}
	}
	&-right {
		&-5 {
			@include rems(padding-right, $spacing-value-5);

      @media #{$tablet} {
        @include rems(padding-right, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(padding-right, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(padding-right, $spacing-value-4);

      @media #{$tablet} {
        @include rems(padding-right, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(padding-right, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(padding-right, $spacing-value-3);

      @media #{$phone} {
        @include rems(padding-right, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(padding-right, $spacing-value-2);
		}
		&-1 {
			@include rems(padding-right, $spacing-value-1);
		}
	}
}

.margin {
  &-around {
		&-5 {
			@include rems(margin, $spacing-value-5);

      @media #{$tablet} {
        @include rems(margin, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(margin, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(margin, $spacing-value-4);

      @media #{$tablet} {
        @include rems(margin, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(margin, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(margin, $spacing-value-3);

      @media #{$phone} {
        @include rems(margin, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(margin, $spacing-value-2);
		}
		&-1 {
			@include rems(margin, $spacing-value-1);
		}
	}
	&-vertical {
		&-5 {
			@include rems(margin, $spacing-value-5, 0);

      @media #{$tablet} {
        @include rems(margin, $spacing-value-4, 0);
      }

      @media #{$phone} {
        @include rems(margin, $spacing-value-3, 0);
      }
		}
		&-4 {
			@include rems(margin, $spacing-value-4, 0);

      @media #{$tablet} {
        @include rems(margin, $spacing-value-3, 0);
      }

      @media #{$phone} {
        @include rems(margin, $spacing-value-2, 0);
      }
		}
		&-3 {
			@include rems(margin, $spacing-value-3, 0);

      @media #{$phone} {
        @include rems(margin, $spacing-value-2, 0);
      }
		}
		&-2 {
			@include rems(margin, $spacing-value-2, 0);
		}
		&-1 {
			@include rems(margin, $spacing-value-1, 0);
		}
	}
	&-horizontal {
		&-5 {
			@include rems(margin, 0, $spacing-value-5);

      @media #{$tablet} {
        @include rems(margin, 0, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(margin, 0, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(margin, 0, $spacing-value-4);

      @media #{$tablet} {
        @include rems(margin, 0, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(margin, 0, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(margin, 0, $spacing-value-3);

      @media #{$phone} {
        @include rems(margin, 0, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(margin, 0, $spacing-value-2);
		}
		&-1 {
			@include rems(margin, 0, $spacing-value-1);
		}
	}
	&-top {
		&-5 {
			@include rems(margin-top, $spacing-value-5);

      @media #{$tablet} {
        @include rems(margin-top, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(margin-top, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(margin-top, $spacing-value-4);

      @media #{$tablet} {
        @include rems(margin-top, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(margin-top, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(margin-top, $spacing-value-3);

      @media #{$phone} {
        @include rems(margin-top, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(margin-top, $spacing-value-2);
		}
		&-1 {
			@include rems(margin-top, $spacing-value-1);
		}
	}
	&-bottom {
		&-5 {
			@include rems(margin-bottom, $spacing-value-5);

      @media #{$tablet} {
        @include rems(margin-bottom, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(margin-bottom, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(margin-bottom, $spacing-value-4);

      @media #{$tablet} {
        @include rems(margin-bottom, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(margin-bottom, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(margin-bottom, $spacing-value-3);

      @media #{$phone} {
        @include rems(margin-bottom, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(margin-bottom, $spacing-value-2);
		}
		&-1 {
			@include rems(margin-bottom, $spacing-value-1);
		}
	}
	&-left {
		&-5 {
			@include rems(margin-left, $spacing-value-5);

      @media #{$tablet} {
        @include rems(margin-left, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(margin-left, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(margin-left, $spacing-value-4);

      @media #{$tablet} {
        @include rems(margin-left, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(margin-left, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(margin-left, $spacing-value-3);

      @media #{$phone} {
        @include rems(margin-left, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(margin-left, $spacing-value-2);
		}
		&-1 {
			@include rems(margin-left, $spacing-value-1);
		}
	}
	&-right {
		&-5 {
			@include rems(margin-right, $spacing-value-5);

      @media #{$tablet} {
        @include rems(margin-right, $spacing-value-4);
      }

      @media #{$phone} {
        @include rems(margin-right, $spacing-value-3);
      }
		}
		&-4 {
			@include rems(margin-right, $spacing-value-4);

      @media #{$tablet} {
        @include rems(margin-right, $spacing-value-3);
      }

      @media #{$phone} {
        @include rems(margin-right, $spacing-value-2);
      }
		}
		&-3 {
			@include rems(margin-right, $spacing-value-3);

      @media #{$phone} {
        @include rems(margin-right, $spacing-value-2);
      }
		}
		&-2 {
			@include rems(margin-right, $spacing-value-2);
		}
		&-1 {
			@include rems(margin-right, $spacing-value-1);
		}
	}
}
