@import '../../../styles/global';

.site-header {
  @extend .margin-bottom-5;
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;

  img,
  h1 {
    display: block;
  }

  h1 {
    width: 100%;
  }
}
